{{#if hasBlock}}
  {{yield (hash
    progressDuration=progressDuration
    message=flash.message
    type=flash.type
    sticky=flash.sticky
    showProgressBar=flash.showProgress
  )}}
{{else}}
  {{flash.message}}
  {{#if showProgressBar}}
    <div class="alert-progress">
      <div class="alert-progressBar" style={{progressDuration}}></div>
    </div>
  {{/if}}
{{/if}}
