{{#if hasBlock}}
  {{yield this flash}}
{{else}}
  {{flash.message}}
  {{#if showProgressBar}}
    <div class="alert-progress">
      <div class="alert-progressBar" style={{progressDuration}}></div>
    </div>
  {{/if}}
{{/if}}
